html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes reversespin {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

@media (max-width: 500px) { 
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(0deg);}
  }
  
  @keyframes reversespin {
    from {transform:rotate(360deg);}
    to {transform:rotate(360deg);}
  }

  .h1{
    color: aqua;
  }

}

.reversecolor {
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
}

